sudo: false
cache: pip

addons:
  postgresql: "9.6"
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml # because pip installation is slow

language: python

python:
  - "3.5"

env:
  global:
  - VERSION="13.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - TRANSIFEX_USER='transbot@odoo-community.org'
  - secure: LhS+tozOz65gNeGs3yQ4WQOJ6o4fljCHp/bAyHXj4QqB4NkRj7ajO92ZasvtWA4BbxDjsz+Rie3Ct9zq0Zmg05rCT58TYxoqnq2+rN+ZOqr46VYnzIk4MapHNXLQuXhAfTVqsJRdpJteF7nn2wnnc3ZDAIJTfLmP8v789iIbCcA=

  matrix:
  - LINT_CHECK="1"
  - TRANSIFEX="1"
  - TESTS="1" ODOO_REPO="OCA/OCB"
  - TESTS="1" ODOO_REPO="odoo/odoo"


install:
  - git clone https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly
  - printf '[options]\n\nrunning_env = dev\n' > ${HOME}/.openerp_serverrc
  - ln -s ${TRAVIS_BUILD_DIR}/server_environment_files_sample ${TRAVIS_BUILD_DIR}/server_environment_files

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
