/*
  Copyright 2016-2018 Akretion (Alexis de Lattre <alexis.delattre@akretion.com>)
  License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
*/

.o_asterisk_systray_item {
    > a {
        opacity: 1;
        > i {
            font-size: larger;
        }
    }
}
